<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
</head>
<body>
    {% if user.is_authenticated %}
        <form method="post" action="{% url 'logout'%}">
            {% csrf_token%}
            <button type="submit">logout</button>
        </form>
    {% else %}
        <form method="get" action="{% url 'login'%}">
            {% csrf_token%}
            <button type="submit">login</button>
        </form>    
    {% endif %}


    <h1>Weather Site</h1>
    {% if temp %}
        <h2>{{city}} {{temp}} daraje canti grad</h2>
    {% else %}
        <h2>{{city}} error dama</h2>
    {% endif %}
    <a href="{% url 'city_list'%}">list of cities</a>
</body>
</html>